<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Main Sidebar Container -->
    <aside th:fragment="sideFragment" class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a th:href="@{/board/list}" class="brand-link">
        <span class="brand-text font-weight-light">게시판</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a th:href="@{/board/list}" class="nav-link">
                <i class="nav-icon fas fa-list"></i>
                <p>게시판 목록</p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
  </body>
</html>
  