<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="common/defaultLayout">
  <body>  
    <th:block layout:fragment="content">
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>조직도</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">조직도</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>
        <div class="card-footer">
          <button type="button" th:onclick="|javascript:createNode()|" class="btn btn-primary float-left">등록</button>
          <button type="button" th:onclick="|javascript:saveNode()|" class="btn btn-primary float-right">저장</button>
        </div>
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6">
                <div class="card">
                  <!-- /.card-header -->
                  <div class="card-body" id="jstree">
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer clearfix">
                  </div>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
        <script type="text/javascript">
          var checkList = []
          var $tree = $("#jstree")
          $tree.jstree({
            'core': {
              "multiple":false,
              'data' : [
                        {  "parent" : "#"        ,"id" : "code0001", "text" : "Simple root node" ,"data": {"nodeCode":"code0001"} },
                        {  "parent" : "#"        ,"id" : "code0002", "text" : "Root node 2"      ,"data": {"nodeCode":"code0002"} },
                        {  "parent" : "code0002" ,"id" : "code0003", "text" : "Child 1"          ,"data": {"nodeCode":"code0003"} },
                        {  "parent" : "code0002" ,"id" : "code0004", "text" : "Child 2"          ,"data": {"nodeCode":"code0004"} },
                      ]
                      ,  "check_callback": true,  // 요거이 없으면, create_node 안먹음  
            }
          });
          function createNode() {
            console.log("$tree.jstree(true).get_json('#', {flat:true})",$tree.jstree(true).get_json('#', {flat:true}))
            var selectedNodeId = $tree.jstree("get_selected",true)[0].id;
            var nodeCode = `code${(Math.max(0,...$tree.jstree(true).get_json('#', {flat:true}).map(({data:{nodeCode}}) => (nodeCode.replace(new RegExp("^code"),''))).filter(v=> !isNaN(v)))+1).toString().padStart(4,"0") }`
            var useYn = 'Y'
            var data =  { "id" : nodeCode, "parent" : "#", "text" : "new Simple root node", data:{ "nodeCode":nodeCode } }
            $tree.jstree("create_node", selectedNodeId, data, "last", function(new_node) {
              var newNode = {nodeId:nodeCode}
            });
          }
        </script>
      </div>
    </th:block>
  </body>
  </html>
  